<div data-ng-controller="ItemOptionsController">
	<table>
		<tr>
            <td width="18px">
                <div
                    class="dropdown"
                    show-on-row-hover
                    style="display:none;float:left">

                    <table>
                        <tr>
                            <td ng-repeat="action in getItems()" ng-switch on="{{(undefined === action.href) || (null === action.href)}}">
                                <a ng-switch-when="false" href="{{action.href}}">
                                    <img
                                        alt = "{{action.Title}}"
                                        title="{{action.Title}}"
                                        src="/modules/explorer/img/{{action.Icon}}"
                                        height="16"
                                        width="16"/>
                                </a>
                                <a ng-switch-when="true" href="#" ng-click="onAction(action.Action)">
                                    <img
                                        alt = "{{action.Title}}"
                                        title="{{action.Title}}"
                                        src="/modules/explorer/img/{{action.Icon}}"
                                        height="16"
                                        width="16"/>
                                </a>
                            </td>
                        </tr>
                    </table>
            </td>
            <td width="5px"/>
			<td>
				<img src="{{iconName}}" height="16" width="16"/>

                <a
                    id="{{name}}"
                    href
                    ng-if="isFolder"
                    class="dropdown-toggle"
                    ng-click="select()">{{name}}</a>
				<a
					id="{{name}}"
                    href="{{href}}"
					popover-placement="right"
					popover="{{size | bytes}}"
					popover-trigger="mouseenter"
                    ng-click="select()"
					ng-if ="!isFolder">{{name}}</a>
			</td>
			<td/>
		</tr>
	</table>
</div>
