
.fileListTable {
    width: 100%;
    cellspacing: 0;
    cellpadding: 0;
}

.fileListTitleCell {
    width: 100%;
}

.fileListTitleDiv {
    border-radius:3px;
    padding: 0;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin: 0 5px 0 0;
    padding: 0 0 0 5px;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
}

.fileListTitleDiv.selected {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffff9), color-stop(47%,#fff2cf), color-stop(100%,#fef4d2));
    background: -ms-linear-gradient(top,  #fffff9 0%,#fff2cf 47%,#fef4d2 100%);
    border-color: #DDCF9B;
}

.fileListContentTitle {
    font-family: verdana;
    font-size: 13px;
}

.fileListMenuImage {
    max-width: 16px;
    max-height: 16px;
    padding: 0;
    margin: 0 0 3px 0;
    background: transparent;
}

.fileListCommandImage {
    max-width: 24px;
    max-height: 24px;
    margin: 0 0 3px 0;
    background: transparent;
}

a.fileListCommandRef {
    text-decoration: none;
    background: transparent;
    cursor: pointer;
}


hr.fileListSeparatorLine {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-style: inset;
    border-width: 1px;
}

.fileListSpaceCell {
    min-width: 10px;
    ax-width: 10px;
}


.fileListToolSpan {
    white-space: nowrap;
}

.fileListToolGroup {
    margin: 0 0 0 20px;
}

.fileListTransferStatistics {
    font-family: Arial;
    font-size: 18px;
    margin: 0 0 0 10px;
    color: #004276;
}

.fileListFileOptions {
    float: right;
    margin: 0 15px 0 0;
    padding: 5px;
}

.fileListGridStyle {
    overflow: hidden;
    border: 0px;

    /*
    border: 1px solid rgb(212,212,212);
    width: 400px;
    height: 300px
    */
}

/**/
.fileListGridStyle .ui-grid-viewport{
    width: 100% !important;
    overflow-x: hidden  !important;
    overflow-y: auto  !important;
}
.fileListGridStyle .ui-grid-canvas, .ui-grid-viewport, .ui-grid-row, .ui-grid-footer-panel, .ui-grid-top-panel   {
    width: 100% !important;
}
.fileListGridStyle  .ui-grid-row {
    border-bottom:none !important;
}

/*
.ngViewport.ng-scope {
    height: auto !important;
    overflow-y: hidden;
}

.ngTopPanel.ng-scope, .ngHeaderContainer {
    width: auto !important;
}
*/

/*
.uiGridViewport{
    height: auto !important;
    overflow: hidden;
}

.ngCell  {
    display : table-cell;
    height: auto !important;
    overflow:visible;
    position: static;
}

.ngRow {
    display : table-row;
    height: auto !important;
    position: static;
}

.ngCellText{
    height: auto !important;
    white-space: normal;
    overflow:visible;
}
*/