.split-panes
{
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    position: relative;
}

.split-panes > .split-handler
{
    background: transparent;
    position: relative;
    z-index: 999;
}


.split-panes.horizontal > .split-handler
{
    width: 4px;
    top: 0px;
    bottom: 0px;
    cursor: ew-resize;
}

.split-panes.horizontal > .split-pane1,
.split-panes.horizontal > .split-pane2
{
    position: relative;
    height: 100%;
}

.split-panes.horizontal > .split-pane1
{
    background: red;
}

.split-panes.horizontal > .split-pane2
{
    right: 0px;
    background: coral;
    position: relative;
}

.split-panes.vertical > .split-handler
{
    height: 6px;
    top: 0;
    left: 0px;
    right: 0px;
    cursor: ns-resize;
}

.split-panes.vertical > .split-pane1,
.split-panes.vertical > .split-pane2
{
    position: relative;
    width: 100%;
}

.split-panes.vertical > .split-pane1
{
    background: coral;
}

.split-panes.vertical > .split-pane2
{
    top: 0px;
    background: violet;
}

.handler-content{
    border-radius:3px;
    padding: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #d3d3d3;
    background: transparent;
    height: 100%;
    width: 100%;
    display:block;
}

.handler-content:hover{
    border-color: darkgray;
    background: #d3d3d3;
    height: 100%;
    width: 100%;
    display:block;
}

.handler-content:active {
    border-color: #000000;
    background: darkgray;
}