

.nodeTable {
    width: 100%;
    cellspacing: 0;
    cellpadding: 0;
}


.nodeTitleDiv {
    border-radius:3px;
    padding: 0;
    height: 22px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    margin: 0 5px 0 0;
    padding: 0 0 0 5px;
    width: 100%;
    cursor: pointer;
    white-space: nowrap;
}

.nodeTitleDiv.selected {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fffff9), color-stop(47%,#fff2cf), color-stop(100%,#fef4d2));
    background: -ms-linear-gradient(top,  #fffff9 0%,#fff2cf 47%,#fef4d2 100%);
    border-color: #DDCF9B;
}

.nodeTitleCell {
    width: 100%;
}

.nodeMenu {
    background: transparent;
    float:right;
    margin: 0 5px 0 0;
}

.nodeIndentSpaceCell {
    min-width: 16px;
    max-width: 16px;
}

.nodeSmallImage {
    max-width: 16px;
    max-height: 16px;
    padding: 0;
    margin: 0;
    background: transparent;
 }

.nodeMenuImage {
    max-width: 16px;
    max-height: 16px;
    padding: 0;
    margin: 0 0 3px 0;
    background: transparent;
}

a.nodeToggleRef {
    text-decoration: none;
    background: transparent;
    vertical-align: middle;
    display:block;
    min-width: 16px;
    padding: 0;
    cursor: pointer;
}

a.nodeMenuRef {
    cursor: pointer;
}

.nodeToggleImage {
    width: 11px;
    height: 11px;
    margin: 2px 0 0 0;
    display:block;
    vertical-align: middle;
}

.nodeContentSpan {
    white-space: nowrap;
    background: transparent;
    vertical-align: top;
    max-height: 16px;
    margin: 0;
}

.nodeContentTitle {
    font-family: verdana;
    font-size: 13px;
}

.nodeContentTitle.leafsCounter{
    color: #394bab;
    font-weight: bold;
}

.nodeContentTitle.selected{
    font-weight: bold;
}

.nodeIndentCell {
    min-width: 16px;
}

.nodeChildLevelCell {
    width: 100%;
}

.nodeEndSpaceCell {
    min-width: 10px;
}
