<div size-keeper>
<splitter orientation="vertical" is-fixed="true">
    <splitter-pane default-size="45" is-scrollable="false">
        <span class="fileListToolSpan">
            <span class="fileListToolGroup" data-ng-show="!isUploading">
            <a
                    title="Upload by chunks"
                    class="fileListCommandRef"
                    ng-click="uploadByChunks()">
                <img
                        class="fileListCommandImage"
                        src="modules/explorer/img/upload-by-chunks.png"/>
            </a>
            <a
                    title="Upload fast"
                    class="fileListCommandRef"
                    ng-click="uploadFast()">
                <img
                        class="fileListCommandImage"
                        src="modules/explorer/img/upload-fast.png"/>
            </a>
        </span>
            <span class="fileListToolGroup" data-ng-show="isUploading">
            <a
                    title="Stop uploading"
                    class="fileListCommandRef"
                    ng-click="stopUploading()">
                <img
                        class="fileListCommandImage"
                        src="modules/explorer/img/stop.png"/>
            </a>
             <span class="fileListTransferStatistics">
                 {{percent | percentage : 2}}
             </span>
            <span class="fileListTransferStatistics">
                {{transferRate | bytes }} /sec
            </span>
            <span class="fileListTransferStatistics">
                {{transferDuration | duration}}
            </span>
        </span>
        </span>
        <hr class="fileListSeparatorLine"/>
    </splitter-pane>
    <splitter-pane is-scrollable="true">
        <div
            size-keeper class="fileListGridStyle"
            ui-grid="gridOptions"
            ui-grid-edit
            ui-grid-row-edit
            ui-grid-resize-columns
            ui-grid-selection>
        </div>
    </splitter-pane>
</splitter>
</div>
