
.content {
	margin-top: 10px;
}

.container {
    width: auto;
    margin: 0 10px 10px 10px ;
    overflow-y: auto;
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.headerBorder {
    margin: 10px 10px 0 10px;
}

.titleText {
    margin-left: 20px;
    color: #aaa;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}



