.navigation {
    width: 100%;
    margin: 0;
    padding: 10px 0 0 0;
    list-style: none;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 5px;
    box-shadow: 0 2px 1px #9c9c9c;
}

.navigation li {
    float: right;
    padding: 0 0 10px 0;
    position: relative;
}

.title {
    margin-left: 15px;
    color: #aaa;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .25);
}

.navigation a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

.navigation li:hover > a {
    color: #fafafa;
}

.navigation li:hover > ul {
    display: block;
}

/* Sub-menu */
.navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background-color: #444;
    background-image: linear-gradient(#444, #111);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.navigation ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #111111,
    0 2px 0 #777777;
}

.navigation ul li:last-child {
    box-shadow: none;
}

.navigation ul a {
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
.navigation ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

.navigation ul li:first-child a {
    border-radius: 5px 5px 0 0;
}

.navigation ul li:first-child a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

.navigation ul li:first-child a:hover:after {
    border-bottom-color: #04acec;
}

.navigation ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

/* Clear floated elements */
.navigation:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html .navigation             { zoom: 1; } /* IE6 */
*:first-child+html .navigation { zoom: 1; } /* IE7 */
*:first-child+html .navigation { zoom: 1; } /* IE7 */